<mat-card class="form-container">
  <form class="example-form">
    <h2>Login</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput #usernameInput />
    </mat-form-field>
    <a
      href="#"
      routerLink="/login"
      routerLinkActive="active"
      class="toolbar--menu--text">
      <button mat-raised-button color="primary" (click)="submitUsername(usernameInput.value)">Login</button>
    </a>
  </form>
</mat-card>
